body {
    background-color: aliceblue;
    padding: 8px;
    border: 1px solid black;

    .container {
        border: 1px solid red;
        height: 300px;
        position: relative;

        .dot {
            background-color: red;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: absolute;
        }
    }
}
